{% extends "base.html" %}
{% block content %}
<div class="mdl-layout__container apply-now">
  <h2 class="apply-now-title">Apply to be a Fall 2016 OCL</h2>

<h3>Who We Are</h3>
We’re a group of innovators, creators, builders, designers, and so much more. Our members have interests ranging from software development to science, law, business, venture capital, and everything entrepreneurship. We’ve started companies, interned at some of the world’s most exciting startups (both big and small!), and each made entrepreneurship a cornerstone of our Columbia experience. We see the world as a place of opportunity, and we’re always looking to solve problems, take up challenges, and create value through an entrepreneurial perspective. <br> 
If this sounds like you, we’d love to hear from you. <br>

<h3>What We Do</h3>
We seek to inspire, educate, and launch Columbia University’s next generation of entrepreneurs. We work with campus partners as well as leaders from throughout the New York City and global entrepreneurship communities to create valuable events and programs. We’ve hosted speakers like Arianna Huffington and Jack Dorsey, explored the startup epicenters of London, Paris, and Berlin, and accelerated some of the most promising startups coming of Columbia. <br>

Most of all, we’re the platform for you to build and create the value that you want to create, whether for Columbia, NYC, or the world. <br>

Up for the challenge? Apply to be an OCL! <br>

<h3>The OCL Role</h3>
Joining CORE as an Operating Committee Leader (OCL) is the place for you to get your start in CORE. OCLs join at least one central CORE committee, lead an event or program that interests them, and work within the larger CORE team to help make our yearly programming happen. We make it our goal to help OCLs grow and benefit both personally and professionally from the experience. Some of these benefits include mentorship and getting to work closely with leaders in the startup community. 

  <a href="https://coreatcu.wufoo.com/forms/core-fall-2016-ocl-application/" target="_blank">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    Apply Now
    </button>
  </a>

Have questions? Send us a note.
<a class="home-second-button" href="contact">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      Contact Us
      </button>
    </a>


  <br><br>
  <br><br>
  <br><br>
</div>

{% endblock %}