{% extends "base.html" %}
{% block content %}
<div class="mdl-layout__container apply-now">
	<h2 class="apply-now-title">CORE Circles</h2>

	<img class="apply-now-image" src="static/img/circles/headerimage.jpg">

	<h6>Have an interest in startups but don’t know where to start?</h6>
	<h6>Want a big picture understanding of a field in the startup world?</h6>
	<h6>Want to meet like-minded peers and be motivated to keep learning more?</h6>

	<h3>Apply for CORE Circles now!</h3>

	<a href="https://coreatcu.wufoo.com/forms/core-circles/" target="_blank">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Apply Now</button>
	</a>
	<h6>Applications are due February 6th at 11:59 PM</h6>

	<br><br>

	<h3> Overview </h3>
	<h6>What is CORE Circles?</h6>
	<p>It’s a tight-knit group of students who come together every week and learn about startups through events and company visits. You can view it as a low-stress Startup 101 course with an industry focus. This semester, we are running CORE Circles on FinTech and Social Entrepreneurship.</p>

	<h6>How does CORE Circles work?</h6>
	<p>CORE Circles meet every Friday from February 5th to April 29th. Every two weeks, there are company visits and lunches with founders which are mandatory for CORE Circles members. On the other weeks, the groups meet informally at events such as movie screenings, startup happy hours, or  discussions with experts. Students in CORE Circles will receive mentorship from industry practitioners. CORE Circles will conclude with an elevator pitch competition where students present their ideas to transform the industry.</p>

	<h6>Why FinTech?</h6>
	<p>FinTech, a.k.a Financial Technology is at the frontiers of tech innovation in recent years and disrupting ways we deal with money and beyond. Payment companies like Paypal and Venmo are making our lives much easier, crowdfunding and peer-to-peer lending are making fundraising accessible to more people, and bitcoins have the potential of revolutionizing the concept of currency. Although FinTech is undoubtedly important and relevant to our lives, it always seems as one of the more daunting ones to understand. At CORE Circles, you will learn about FinTech startups in payment, peer-to-peer lending, bitcoins and more!</p>

	<h6>Why Social Entrepreneurship?</h6>
	<p>Social Entrepreneurs are trying to solve important issues accross the world. Society is experiencing a flood of economic, enviromnental, and developmental changes, and the key to solving these issues lies in the innovation that happens at focused and driven startups. If you are interested in ways to promote social justice, methods of increasing infrastructure in impoverished areas, or programs to educate the public, then CORE Circles' Social Entrepreneurship program is for you. You will meet people who truly are changing society as we know it, and you will learn about how we can approach the issues that affect us all.</p>

	<br><br>

	<h3>Companies</h3>
	<h6>We have confirmed company visits with a variety of startups that are at the forefront of their industry. Here are some of the highlights.</h6>

	<br><br><br>

	<a href="https://www.ondeck.com/" target="_blank"><img class="gallery-image" src="static/img/circles/ondeck.jpg"></a>
	<p>OnDeck helps small business to get business loans through their platform and was one of the first FinTech companies to go public in late 2014.</p>

	<br><br><br>

	<a href="https://venmo.com/" target="_blank"><img class="gallery-image" src="static/img/circles/venmo.png"></a>
	<p>Venmo is a payment tool that helps users to transfer money between one another. Founded by two Penn alums, Venmo is now part of Paypal due to a recent acquisition.</p>

	<br><br><br>

	<a href="https://www.addepar.com/" target="_blank"><img class="gallery-image" src="static/img/circles/addepar.jpg"></a>
	<p><br>Adeppar is a technology company that supports wealth management companies whose assets under management totals $300 billion.</p>

	<br><br><br>

	<a href="https://generalassemb.ly/" target="_blank"><img class="gallery-image" src="static/img/circles/generalassembly.png"></a>
	<p>General Assembly is an online computer programming school that focuses on making longer and more rigorous courses.  To date, an estimated 10,000 students have taken classes at General Assembly.</p>

	<br><br><br>

	<a href="https://www.indiegogo.com/" target="_blank"><img class="gallery-image" src="static/img/circles/indiegogo.jpg"></a>
	<p><br>Indiegogo is an international crowdfunding that allows anyone who has an idea and wants to raise funds to finance their goal. Fifteen million people from all around the world visit the site on a monthly basis.</p>


	<br><br><br>

	<h3>Frequently Asked Questions</h3>

	<h6>How many people are in each CORE Circle?</h6>
	<p>We are looking for 10-15 people to join each CORE Circle.</p>

	<h6>What are you looking for in applicants?</h6>
	<p>All you need is passion for entrepreneurship and commitment to learn. No prior experience is needed. We do require members of CORE Circles to attend the biweekly company visits/lunches with founders, so make sure that you are able to commit for that!</p>

	<h6>When and where will circles meet?</h6>
	<p>Most circles will meet Friday afternoons for smaller events on campus, while larger events, such as company visits and lunches with founders, will meet Friday during the day.

	<br><br>

	<h3>Contact Us</h3>
	<p>If you have any additional questions, contact us at <a style="text-decoration: none" href=mailto:dennis@coreatcu.com>dennis@coreatcu.com</a> and <a style="text-decoration: none" href=mailto:michelle.tan@coreatcu.com>michelle.tan@coreatcu.com</a>

  <br><br>
  <br><br>
  <br><br>
</div>

{% endblock %}
