{% extends "base.html" %}
{% block content %}
<div class="mdl-layout__container apply-now">
  <h2 class="apply-now-title">Columbia Venture Competition Undergraduate Challenge</h2>
  <h4 class="apply-now-title">Sponsored by Columbia College</h4>

  <img class="apply-now-image" src="static/img/initiatives/cvc.png">
  <h4 class="apply-now-title">Win $50,000 for your startup idea!</h4>

  <br>
  <p>The Columbia Venture Competition (CVC) is Columbia’s business plan competition with a total prize pool of $250,000 in cash grants, divided among five tracks. One of the tracks - the Undergraduate Challenge - exclusively focuses on undergraduate-led teams from across the four schools at Columbia. $50,000 of prize grants will be awarded to the top teams with the most innovative and viable business model.  Winning entries must document the incorporation of customer or user feedback into the design of their business model. Early stage ventures are invited to apply.</p>

  <h4>First Round Deadline: February 19th at 11:59pm</h4>

  <a href="https://www.younoodle.com/login?next=/competitions/columbia_venture_competition_2016">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    Apply Now
    </button>
  </a>
  <br>


  <p><h4>Eligibility:</h4> 
  Open only to undergraduate teams from Columbia University and Barnard College.  Undergraduates from other universities may enter as members of Columbia- or Barnard-teams but the roles of the founders and the length of time each founder has been working with the team must be provided. 
  <ul>
    <li>CVC is intended for new, independent ventures in the seed or start-up stages.</li>
    <li>Licensing technologies from Columbia University is acceptable but the ownership of the technology or IP must be clearly stated.</li>
    <li>Ownership of intellectual property and equity shares in the business must not be in dispute.</li>
    <li>Status of incorporation and any funding received must be clearly stated.</li>
    <li>Teams must not have raised more than $150,000 prior to March 1st, 2016.</li>
    <li>Columbia Venture Competition will only allow is for ventures created, managed, and owned by eligible (student or recent alumni within 5 years of graduation) team members where the Columbia-affiliated team members have all played a substantive role in conceiving and developing the venture. All team members are asked to state their university and school affiliation with degree year.  Blended teams will be required to clearly state the role of all founders.  Proof of the length of time each of the founders has been engaged in their venture will be requested.</li>
    <li>Participating teams are encouraged to seek support and mentorship where they can find it. Faculty support is not a requirement.</li>
    <li>Teams who have won previous CVC challenges may not enter the same challenge again (CVC Undergraduate Challenge winners, for example, may enter the CVC Columbia Engineering Technology Challenge, but may not enter the Undergraduate Challenge in the current year if they have won in prior years).</li>
    <li>Teams may only enter one challenge.</li>
    <li>CVC finalists must present live or via teleconferencing on Thursday April 28, 2016. The winners will be announced on Friday, April 29th at the #Startup Columbia Festival. Winners must agree release rights to use their images and brief descriptions of their business models to help promote Columbia University programs.</li>
    <li>Eligibility is contingent on compliance with the rules listed above.  Teams can be disqualified at any point, during the competition and prior to receiving funds at the administrators’ discretion.  Disqualification is final and cannot be appealed.</li>
  </ul>
</p>


  <p><h4>Deadlines:</h4> 
  <ul>
    <li><strong>Feb 19th: Executive Summaries Due (11:59PM in YouNoodle)</strong>
        <br>
        Executive summaries must:
        <br>
        <ul>
          <li>Contain the name, school affiliation and degree year for all team members.  Non-Columbia affiliated members will be considered but for blended teams the role of each founder must be clearly explained proof of when each founder joined the team must be offered.</li>
          <li>Describe your venture idea and address the criteria that are unique to the track you’ve entered.</li>
        </ul>
    </li>
    <li><strong>March 7th:</strong>Teams who’ve been selected to advance in the competition will be announced.
    </li>
    <li><strong>March 23: Second-Round Submissions Due (11:59PM in YouNoodle)</strong>
        <br>
        Second-Round Submissions must:
        <br>
        <ul>
          <li>Include both a slide deck (PDF-format preferred, Prezi not allowed) and a link to a three-minute video.</li>
          <li>Contain one slide with a brief bio and role of each member of the team.</li>
          <li>Clearly and in detail address the criteria unique of the track you’ve entered.</li>
        </ul>
    </li>
    <li><strong>April 11:</strong>Finalists will be announced</li>
    <li><strong>April 28: Final Round, “Live”, In-Person Presentations</strong><br>
    In-person Presentations must not exceed five minutes for the presentation and five minutes to answer judges questions.  For international teams who cannot travel to the Columbia University campus may present via teleconferencing or skype.</li>
  </ul>
</p>

<p><h4>Frequently Asked Questions:</h4>  
  <ul>
    <li><strong>What other tracks are there in the Columbia Venture Competition?</strong><br>
      CVC has five separate tracks; each track comes with a unique set of judging criteria and eligibility requirements. Find out more information and read the judging criteria for all five tracks <a href="http://www.startupcolumbia.org/challenge/" target="_blank">here</a>.
    </li>
    <li><strong>Can my team include non-Columbia affiliated members?</strong><br>
    Entries from blended teams with non-Columbia-affiliated members will also be considered.  The guideline for accepting blended teams is to determine that the core of the team, two of three founders for example, must be Columbia affiliated. CVC administrators will make this subjective ruling.  If a blended team wins but loses its Columbia-affiliated members, the team will be disqualified and will not receive the award grants.</li>
    <li><strong>Can I enter more than one track?</strong><br>
    Individuals and teams may only enter only one track, so be sure to read the descriptions closely and choose wisely.  In a few isolated cases, CVC administrators may reserve the right to reassign competitors from one track to another.</li>
    <li><strong>What about confidentiality?</strong><br>
    There is no formal non-disclosure agreement in place for the Columbia Venture Competition. Participants’ executive summaries and pitch decks will only be seen by the Venture Competition administrators and the judging panel. Neither of those documents will be distributed unless explicit permission is received from the team. Teams should be aware that CVC administrators will not require judges to sign non-disclosure agreements. Confidentiality has never presented a problem in the past and we don't expect any issues to arise from it in the future.</li>
    <li><strong>I have more questions. Who can I contact?</strong><br>
    Feel free to email cvc@coreatcu.com with any other questions or concerns!</li>
  </ul>
</p>
 


  <br><br>
  <br><br>
  <br><br>
</div>

{% endblock %}
