{% extends "base.html" %}
{% block content %}

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
      <div class="navigation-bar" id="initiatives-navigation">
      {% for initiative in committees %}
            <div class="navigation-bar-item">
            <a href="{{'#' + initiative.type.replace(' ', '-').lower()}}">
              <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                {{initiative.label}}
              </div>
            </a>
            </div>
      {% endfor %}
      </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col">
      <div class="mdl-grid">
      {% for initiative in committees %}
        <div class="mdl-cell mdl-card mdl-shadow--2dp initiatives-card">
          <div class="section" id="{{initiative.type.replace(' ', '-').lower()}}">
    	      <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{initiative.type}}</h2>
            </div>
            {% if initiative.image %}
              <div class="initiative-pic">
                <img src={{initiative["image"]}} style="max-width: 95%;">
              </div>
            {% endif %}
            <div class="mdl-card__supporting-text">
		 {{initiative.description}}
             </div>
             {% if initiative.link %}
             <div class="initiative-links">
		{% if initiative.label == "University Programs"%}
			<a href={{initiative.link[0]}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                 #StartupColumbia
               </a>
               <a href={{initiative.link[1]}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                 Columbia Venture Competition
               </a>
		{% elif initiative.label == "Ventures" %}
			<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		Almaworks
		</a>
		{% elif initiative.label == "Global Entrepreneurship" %}
			<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		Tech Treks
		</a>
		{% elif initiative.label == "Intercollegiate Programs" %}
			<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		Ignite@CU
		</a>
		{% elif initiative.label == "Internships & Mentorships" %}
			<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		Startup Internship Program (SIP)
		</a>
		{% elif initiative.label == "coreX" %}
			<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		Women@Core
		</a>
		{% else %}
		<a href={{initiative.link}} target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                 Find out more
               </a>
		{% endif %}
             </div>
             {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
