{% extends "base.html" %}
{% block content %}
<div class="mdl-layout__container apply-now">
  <h2 class="apply-now-title">JADE Winter Program</h2>

  <img class="apply-now-image" src="static/img/initiatives/wee.jpg">

  <h6>Looking for something to do during the last week of winter break?<br>Not sure what startups are all about but want to learn?<br>Interested in meeting other students with similar interests and making life-lasting bonds?</h6>
  <p>Apply to ADI & CORE's JADE winter program for an incredible week-long program in New York City! Together with a small group of other students, you'll be immersed in the startup world of NYC and learn about tech and entrepreneurship through visits with startups all shapes and sizes, talks with founders, and fun adventures throughout the city. You’ll leave with a much better idea of why startups are all the rage right now, an understanding of how you can dive into the industry, and a group of new friends!</p>

  <h3>Apply to the January 2016 Program!</h3>
  <p>We’re looking to have a group of first-year students for the January 2016 program, and we’re focused on selecting enthusiastic students who have had little other exposure to the startup and tech worlds! We want to have a group of students with varied backgrounds and interests, so we encourage all majors to apply.<br><br>The program will take place from Sunday, January 10th, to Friday, January 15th. Submitting this application does *not* commit you to attending the program - you get to decide if you want in after you’re accepted! Participation in the program will have a cost of $100 (that includes food, transit, and activities), but we WILL be offering need-based scholarships for accepted students! Please don’t let cost be what prevents you from applying.<br><br>Applications are due on Tuesday, November 3rd! If you have any questions, please email <a href="mailto:sahir@coreatcu.com">sahir@coreatcu.com</a>.</p>

  <a href="https://docs.google.com/forms/d/1S7d2h-kC9ejD30Qh2-FxvJEKIBsFpV_jbtKc6YZpnVw/viewform" target="_blank">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    Apply Now
    </button>
  </a>
  <br><br>

  <h3>Frequently Asked Questions</h3>

  <h6>What does a day in the JADE program entail?</h6>
  <p>During the day, students will be visiting offices and meeting founders and others who will speak to them about the startup world. A concious effort will be made to show students different parts of the city. In the evening, after a break and dinner, students will be taken on excursions to places like comedy clubs, desert shops, and outdoor events.</p>
  <h6>Who can apply to the JADE program?</h6>
  <p>All current first-year undergraduate students are eligible to apply for the program, as we want to focus on students who have had minimal exposure to the startup and tech ecosystem of New York.</p>
  <h6>When is the application due?</h6>
  <p>All applications are due by 11:59 PM EST on Tuesday, November 3rd, 2015.</p>
  <h6>When will the JADE program take place?</h6>
  <p>Sunday, January 10th (move-in) - Friday, January 15th, 2016.</p>
  <h6>How much does the JADE program cost?</h6>
  <p>Our application process is completely need-blind. The program fee is $100.00 and covers food, transportation, and the cost of night activities during the week. We offer partial and full scholarships to accepted students who qualify.</p>
  <h6>Where do participants sleep?</h6>
  <p>Participants will be staying in their assigned campus dorms. Special arrangements will be made for students without access to winter break housing! Don't worry, we gotchu!</p>
  <h6>What do participants eat?</h6>
  <p>Breakfast, lunch, and dinner will be provided to students as part of the program.</p>
  <h6>Will participants be safe?</h6>
  <p>Of course! All participants will be with a ADI/CORE counselor at all times, including during office visits, meals, and night activities. Participants and their guardians will receive contact information for all counselors so they can reach them at any time.</p>

  <br><br>
  <br><br>
  <br><br>
</div>

{% endblock %}
