{% extends "base.html" %}
{% block content %}

<div class="mdl-layout__container apply-now">
  <h2 class="apply-now-title">Apply to CORE's Startup Internship Program</h2>

<center><img src = "../static/img/SIP/sip_logo.jpg" width = "25%"/></center>

<h4>What is SIP?</h4> <p>The Startup Internship Program (SIP), a program that CORE runs jointly
  with the Center for Career Education (CCE), connects students with internship opportunities
  at young, fast-moving startups in Manhattan.<br>

  Are you a non-technical student interested in breaking into the world
  of startups? SIP is your opportunity to do that right here in Manhattan.
  At CORE, we believe liberal arts students can contribute a lot to any
  startup's growth. SIP is your opportunity to put your acumen
  to work in a fast-moving, entrpreneurial work environment. <br> </p>

  <h4>What do you do as part of SIP?</h4>
  <p>The SIP program is a combination of
    internship experience at a startup, peer connections with other SIP
    interns and professional career development and support with a career counselor.
    Program features include the following:&nbsp; </p>

    <ul><li><strong>Pre-program training</strong>
      that<strong> </strong>includes program overview, professional skills workshops,
      panel discussion from startup professionals </li>
      <li><strong>Twelve-week internship</strong> for 10-20 hours per week during the spring
        semester </li>
        <li><strong>Networking </strong>with
          other interns to discuss and debrief on internship experiences </li>
          <li><strong>One-on-one career counseling</strong> appointments throughout the twelve weeks to support and
            enhance the internship experience</li>
            <li><strong>End-of-program reflection session</strong> where students meet to acknowledge
              achievements made through the program&nbsp; </li>
            </ul>

Most of all, SIP is not a normal internship program. CORE throws our weight behind ensuring you will experience and
enjoy all that startup culture has to offer, and will provide our own mentoring and CORE buddies.<br><br>

Up for the challenge? Apply now on Handshake to get your start in NYC's exciting startup and tech scene!<br> </p>

<h4>How do I apply?</h4>
<p> All SIP employers and positions are listed on Handshake.
  You may apply to up to three (3) positions of interest in the SIP program. <br> <br> </p>

  <a href="http://bit.ly/2d3q7AE" target="_blank">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    View SIP jobs on Handshake
    </button>
  </a>

  <br><br>
  <br><br>
  <br><br>

</div>

{% endblock %}
