{% extends "base.html" %}
{% block content %}

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <div class="navigation-bar" id="team-navigation">
          {% for division in team %}
            <div class="navigation-bar-item">
            <a href="{{'#' + division.type.replace(' ', '-').lower()}}">
              <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                {{division.type}}
              </div>
            </a>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="mdl-cell mdl-cell--10-col">
    {% for division in team %}
    <div class="section" id="{{division.type.replace(' ', '-').lower()}}">
      <h3> {{division.type}} </h3>
      <div class="mdl-grid">
      {% for person in division.names %}
        <div class="mdl-cell mdl-card mdl-shadow--2dp team-card-square">
          <div class="mdl-card__media team-pic">
            <img src={{person.pic}}>
          </div>
          <div class="team-socialmedia">
              {% for social in person.socialmedia %}
                <a href="{{person.socialmedia[social]}}" target="_blank"><i class="fa fa-{{social}}"></i></a>
              {% endfor %}
          </div>
          <h5 class="team-name">{{person.name}}</h5>
          <div class="team-title">{{person.title}}</div>  
          <div class="mdl-card__supporting-text team-byline">
            {{person.byline}}
          </div>
          <div class="mdl-card__supporting-text team-bio">
            {{person.bio}}
          </div>
        </div>
      {% endfor %}
      <hr>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}