{% extends "base.html" %}
{% block content %}
<div class="mdl-layout__container apply-now">
  <h2 class="apply-now-title">Women @ CORE</h2>

  <img class="apply-now-image" src="static/img/womenatcore/mixer-organizers.jpg">

  <h4>Description</h4>
  Women@CORE is the only dedicated program for female entrepreneurs at Columbia University. We match selected highly-motivated women who are passionate about entrepreneurship with successful female entrepreneurs in New York City. Our purpose is two-fold:
 
  <ul>To inspire and support undergraduate women hoping to pursue a career in entrepreneurship or explore areas such as technology innovation and venture capital by connecting them with accomplished women in these areas </ul>
  <ul>To create a community of mentors and mentees who share the goal of increasing the number of women successes in the startup environment</ul>
  
  Programming consists of a mentorship program, panels, workshops, and a dinner series—all of which are aimed at inspiring more women to pursue entrepreneurship and providing a support network to do so. Please get in touch with either Victoria (vml2123@columbia.edu) or Jamie (js4390@columbia.edu) if you’re interested in learning more!

  <br><br>
  <h4>Events</h4>
  
  <ul>
    <li>The <strong>Mentorship Kickoff Mixer</strong> began the year’s activities, occuring on October 5th at Work-Bench, connecting all of the program’s mentors and mentees in one place for the first time.</li>

    <li><strong>Office Hour Dinners</strong> are monthly informal dinners that occur on Columbia’s campus, matching three to four mentors each to around 20 mentees. The dinners are designed to be a casual way for mentees and mentors to connect.</li>

    <li><strong>Women@CORE Panels and Speaking Engagements</strong> allow mentors to speak at Women@CORE or CORE panels throughout the academic year. These panels are a great way to connect with the Columbia community and share experiences in entrepreneurship.</li>
  </ul>
  
  <br><br>

  <div class="gallery">
    <img class="gallery-image" src="static/img/womenatcore/mixer1.jpg">
    <img class="gallery-image" src="static/img/womenatcore/mixer2.jpg">
    <img class="gallery-image" src="static/img/womenatcore/mixer5.jpg">
    <img class="gallery-image" src="static/img/womenatcore/mixer4.jpg">
  </div>
  
</div>

{% endblock %}
